@use "@utils/css/animations" as mixins;

.dropdown {
    position: relative;
    display: inline-block;

    &__menu {
        position: absolute;
        min-width: 180px;
        min-height: 10px;
        opacity: 0;
        pointer-events: none;
        background-color: white;
        transition: var(--transition);
        border-radius: 8px;
        border: 2px solid var(--layout-panel-border-color);
        box-shadow: var(--layout-panel-box-shadow);
        padding: 5px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        gap: 3px;

        &--bottom {
            top: calc(100% + 5px);
            left: 50%;
            transform: translate(-50%, -20px) scale(0.85);
        }

        &--top {
            bottom: calc(100% + 5px);
            left: 50%;
            transform: translate(-50%, 20px) scale(0.85);
        }

        &--right {
            top: 0;
            right: calc(100% + 5px);
            transform: translate(0, 20px);
        }

        &--left {
            top: 0;
            left: calc(100% + 5px);
            transform: translate(0, 20px);
        }

        &__item {
            @include mixins.shrink(.97);

            width: 100%;
            height: 30px;
            padding: 0 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            transition: var(--transition);
            font-size: 14px;
            border-radius: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &-color {
                &--default {
                    background-color: white;

                    &:hover {
                        background-color: var(--default);
                    }
                }

                &--primary {
                  background-color: white;
                  color: var(--primary);

                  &:hover {
                    background-color: var(--primary);
                    color: white;
                  }
                }

                &--danger {
                    background-color: white;
                    color: var(--danger);

                    &:hover {
                        color: white;
                        background-color: var(--danger);
                    }
                }
            } 
        }
    }

    &--active &__menu {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
        pointer-events: all;

        &--right, &--left {
            transform: translate(0, 0);
        }
    }
}
