@use "@/utils/css/animations" as mixins;

.button {
  outline: none;
  border: none;
  padding: var(--button-padding);
  border: 2px solid;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-fast);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--button-flex-gap);
  white-space: nowrap;

  &--icon-only {
    padding: 10px;
  }

  &:not(.button--disabled) {
    @include mixins.shrink(.97);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &-size {
    &--default {
      height: 35px;
      font-size: var(--button-font-size-default);
    }

    &--sm {
      height: 28px;
      font-size: var(--button-font-size-sm);
      font-weight: 600;
    }
  }

  &-radius {
    &--none {
      border-radius: var(--button-border-radius-none);
    }

    &--sm {
      border-radius: var(--button-border-radius-sm);
    }

    &--lg {
      border-radius: var(--button-border-radius-lg);
    }

    &--xl {
      border-radius: var(--button-border-radius-xl);
    }

    &--full {
      border-radius: var(--button-border-radius-full);
    }
  }

  &-color {
    &--default {
      background-color: var(--button-default);
      border-color: var(--button-default);
      color: var(--button-text-dark);
    }

    &--primary {
      background-color: var(--button-primary);
      border-color: var(--button-primary);
      color: var(--button-text-light)
    }

    &--danger {
      background-color: var(--button-danger);
      border-color: var(--button-danger);
      color: var(--button-text-light);
    }
  }

  &-variant {
    &--flat {
      border-color: transparent;

      &.button-color--primary {
        background-color: var(--button-primary-flat);
        color: var(--button-primary);
      }

      &.button-color--danger {
        background-color: var(--button-danger-flat);
        color: var(--button-danger);
      }

      &.button-color--default {
        background-color: var(--button-default-flat);
        color: var(--button-text-dark);
      }
    }

    &--ghost {
      background-color: transparent;
      border: none;
    }

    &--outline {
      background-color: transparent;

      &.button-color--primary {
        color: var(--button-primary);

        &:not(.button--disabled):hover {
          background-color: var(--button-primary);
          color: var(--button-text-light);
        }
      }

      &.button-color--default {
        color: var(--button-text-dark);

        &:not(.button--disabled):hover {
          background-color: var(--button-default);
          color: var(--button-text-dark);
        }
      }

      &.button-color--danger {
        color: var(--button-danger);

        &:not(.button--disabled)::hover {
          background-color: var(--button-danger);
          color: var(--button-text-light);
        }
      }
    }
  }
}
