@use '@/utils/css/animations' as mixins;

.button {
  @include mixins.shrink;

  border: none;
  background-color: var(--detail);
  outline: none;
  border-radius: var(--border-radius-small);
  color: white;
  font-weight: bolder;
  padding: 7px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  transition: var(--transition-fast);
  font-size: 14px;
}
