@use '@/utils/css/animations' as mixins;

.button {
  @include mixins.shrink;

  outline: none;
  font-weight: bolder;
  padding: 7px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  transition: var(--transition-fast);
  font-size: 14px;

  &--default {
    border: 2px solid var(--detail);
    background-color: var(--detail);
    border-radius: var(--border-radius-small);
    color: white;
  }

  &--outline {
    border: 2px solid var(--detail);
    border-radius: var(--border-radius-small);
    background-color: transparent;
    color: var(--detail);

    &:hover {
      color: white;
      background-color: var(--detail);
    }
  }
}
