@use "@/utils/css/animations" as mixins;

.select-menu {
  position: relative;

  &__target {
    @include mixins.shrink;
    padding: 7px 20px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: var(--transition-fast);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--small &__target {
    padding: 3px 12px;
    font-size: 14px;
  }

  &--active>&__list {
    opacity: 1;
    bottom: -205px;
    pointer-events: all;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    min-height: 200px;
    position: absolute;
    border: 1px solid gray;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    cursor: initial;
    bottom: -180px;
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
    overflow-x: hidden;
    z-index: 999;
  }
}
