@use "@utils/css/animations" as mixins;

.input {
    @include mixins.shrink(.97);

    background-color: var(--input-bg-color);
    display: flex;
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    align-items: center;
    gap: var(--input-flex-gap);
    transition: var(--transition-fast);
    cursor: text;

    & > input {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
}