@use '@/utils/css/animations' as mixins;

#sidebar {
  display: flex;
  flex-direction: column;

  #sidebar__brand h3 {
    padding-left: 6px;
    position: relative;
    width: 100px;

    &::after {
      content: ".";
      position: absolute;
      bottom: 0;
      right: -6px;
      color: var(--detail);
      font-size: 50px;
      line-height: 43px;
    }
  }

  #sidebar__menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;

    &>li {
      @include mixins.shrink(.95);

      padding: 7px 10px;
      border-radius: var(--border-radius-small);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: var(--transition-fast);
      font-size: 15px;

      &>i {
        font-size: 18px;
      }

      &.active,
      &:hover {
        background-color: var(--secondary);
        color: var(--detail);
      }
    }
  }
}
