#layout {
    --full-height: calc(100svh - (var(--layout-padding) * 2));

    padding: var(--layout-padding);
    display: flex;
    gap: var(--layout-gap);
    overflow: hidden;

    &__convert {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        width: 100%;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            &__actions {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }

    .layout__side-column {
        min-width: 250px;
        max-width: 250px;
        height: var(--full-height);
        display: flex;
        flex-direction: column;
        gap: var(--layout-gap);
    }

    .layout__middle-column {
        width: 100%;
        height: var(--full-height);
    }

    .layout__panel {
        width: 100%;
        height: 100%;
        background-color: var(--layout-panel-background-color);
        border-radius: var(--layout-panel-border-radius);
    
        &--small {
            min-height: 200px;
            max-height: 200px;
        }

        &--transparent {
            background-color: transparent;
            border: 1px solid var(--layout-panel-border-color);
            box-shadow: var(--layout-panel-box-shadow);
        }

        &--with-padding {
            padding: var(--layout-panel-padding);
        }
    }

    &__self-host {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}