* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, html {
  overflow: hidden;
  width: 100svw;
  height: 100svh;
}

:root {
  /*
  * COLORS
  */
  --primary: rgb(30, 144, 255);
  --primary-flat: rgb(214, 232, 250);
  --default: rgb(235, 235, 235);
  --default-flat: rgb(246, 246, 246);
  --danger: red;
  --danger-flat: rgb(255, 230, 230);


  --transition: .2s;
  --transition-fast: .1s;

  /*
    BUTTON VARIABLES
  */
  // Colors
  --button-primary: var(--primary);
  --button-primary-flat: var(--primary-flat);
  --button-default: var(--default);
  --button-default-flat: var(--default-flat);
  --button-danger: var(--danger);
  --button-danger-flat: var(--danger-flat);
  --button-text-light: white;
  --button-text-dark: black;

  // Sizes
  --button-padding: 0 14px;
  --button-font-size-default: 15px;
  --button-font-size-sm: 13px;

  // Radius
  --button-border-radius-none: 0;
  --button-border-radius-sm: 6px;
  --button-border-radius-lg: 12px;
  --button-border-radius-xl: 15px;
  --button-border-radius-full: 99px;

  --button-flex-gap: 10px;

  /*
    LAYOUT VARIABLES 
  */
  --layout-padding: 12px;
  --layout-gap: 12px;
  --layout-panel-border-radius: 12px;
  --layout-panel-padding: 12px;
  --layout-panel-background-color: var(--default);
  --layout-panel-border-color: rgba(211, 211, 211, 0.5);
  --layout-panel-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /*
    CONTAINER VARIABLES
  */
  --container-max-width: 1400px;

  /*
  * SIDEBAR VARIABLES
  */
  --sidebar-flex-gap: 10px;
  --sidebar-menu-flex-gap: 5px;
  --sidebar-menu-item-hover-color: white;
  --sidebar-menu-item-font-size: 15px;
  --sidebar-menu-item-text-color: black;
  --sidebar-menu-item-text-color-hover: var(--primary);
  --sidebar-menu-item-padding: 8px 14px;
  --sidebar-menu-item-radius: 8px;
  --sidebar-menu-item-icon-gap: 7px;
  --sidebar-menu-item-icon-font-size: 20px;

  /*
  * INPUT VARIABLES
  */
  --input-bg-color: rgb(235, 235, 235);
  --input-padding: 10px;
  --input-border-radius: 12px;
  --input-flex-gap: 5px;

  /*
  * TAG VARIABLES
  */
  --tag-color-primary: var(--primary-flat);
  --tag-color-primary-text: var(--primary);
  --tag-color-default: var(--default-flat);
  --tag-color-default-text: black;
  --tag-color-danger: var(--danger-flat);
  --tag-color-danger-text: var(--danger);
  --tag-color-warn: rgba(255, 166, 0, 0.2);
  --tag-color-warn-text: orange;
  --tag-color-success: rgba(0, 128, 0, 0.2);
  --tag-color-success-text: green;

  /*
  * QUEUE VARIABLES
  */
  --queue-td-padding: 8px;
  --queue-th-height: 40px;
  --queue-th-font-size: 13px;
  --queue-th-color: gray;
  --queue-flex-gap: 10px;
  --queue-header-font-size: 13px;
  --queue-header-color: gray;
  --queue-scrollbar-width: 13px;  
  --queue-scrollbar-radius: 10px;
  --queue-scrollbar-track-color: var(--primary-flat);
  --queue-scrollbar-thumb-color: var(--primary);
}
