* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, html {
  background-color: var(--secondary);
  height: 100svh;
} 

.full-height, #root {
  height: 100%;
}

.full-width {
  width: 100%;
}

:root {
  --primary: rgb(235, 235, 235);
  --secondary: white;

  --border-padding: 20px;
  --border-radius: 10px;
  --gap: 20px;
}
