.panel {
  display: flex;
  height: 100%;
  min-width: 225px;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: var(--border-radius);

  &--small {
    height: 200px;
  }

  &--dynamic {
    width: 100%;
  }
}
